{% extends 'base.html'%}


<!-- {% block styles%}
{{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% endblock %} -->


{% block content %}
<div class="container-fluid">
    <div class="row">
        <h1 class="heachone">THE TOP HEADLINES</h1>
    </div>
    {% for title,desc,img_url,p_date,url in contents %}
    <div class="card my-5">
        <div class="row">
            <div class="col">
                <div class="card-title">
                    <a href="{{url}}"><img src="{{img_url}}" alt=""></a>
                </div>
            </div>
            <div class="col">
                <div class="card-body">
                    <a href="{{url}}"><h2>{{title}}</h2></a>
                    <a href="{{url}}"><p>{{desc}}</p></a>
                </div>
            </div>
            <div class="card-footer bg-dark text-light text-center">
                <p>Publish Date:{{p_date}}</p>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="row">
        <h2 class="heachone">TODAY'S NEWS</h2>
    </div>
    {% for title,desc,img_url,p_date,url in all %}
    <div class="card my-5">
        <div class="row">
            <div class="col">
                <div class="card-title">
                    <a href="{{url}}"><img src="{{img_url}}" alt=""></a>
                </div>
            </div>
            <div class="col">
                <div class="card-body">
                    <a href="{{url}}"><h2>{{title}}</h2></a>
                    <a href="{{url}}"><p>{{desc}}</p></a>
                </div>
            </div>
            <div class="card-footer bg-dark text-light text-center">
                <p>Publish Date:{{p_date}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}